<div class="container align-items-stretch pt-4">
  <div class="row">
    <div class="col-12 pt">
      <div class="header bg-light d-flex align-items-center justify-content-center">
        <div class="text-end">
          <h1 class="header-text">Catalogue</h1>
        </div>
      </div >
      <% if @query.present? %>
        <% if @items.any? %>
          <h2 class="text-start mt-4 mb-5"> Search results for "<%= @query %>"</h2>
        <% else %>
          <h2 class="text-start mt-4 mb-4">Sorry, nothing found</h2>
        <% end %>
      <% end %>
      <br>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-lg-4 col-md-6 mb-4">
            <%= link_to item_path(item), class: "text-decoration-none" do %>
              <div class="item-card">
                <div class="card-img" style="background-image: url('<%= cl_image_path item.image.key %>');"></div>
                <div class="card-info px-3">
                  <div class="d-flex justify-content-between">
                    <div class="text-start text-decoration-underline"><%= item.name %></div>
                    <div class="text-end text-decoration-underline">
                      <span style="font-weight: bold; font-size: 1.1em;"><%= humanized_money_with_symbol item.price_per_day %>/day</span>
                    </div>
                  </div>
                  <p>Category: <%= item.category_name%></p>
                </div>
                <div class="card-info">
                  <div class="primary-btn primary-hover mb-1">
                    Check availability
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
