<!-- app/views/items/index.html.erb -->




<div class="container align-items-stretch">
  <div class="1 d-flex flex-column align-items-stretch">
    <div class="header bg-light d-flex align-items-center justify-content-center">
      <h1 class="text-center">NomadArte Search Results</h1>
    </div>

    <br>

    <div class="d-flex flex-wrap justify-content-between">
      <% @items.each do |item| %>
      <div class="item-card">
        <div class="card-img">
          <a href="<%= item_path(item) %>" tabindex="-1">
            <img src='https://source.unsplash.com/random/400x400?monet' class="image-card">
          </a>
        </div>
        <div class="card-infos">
          <a href="<%= item_path(item) %>">
            <h5><%= item.name %></h5>
            <div>Category: <%= item.category_name %></div>
            <div>Rent Now <%= item.price_per_day %>$</div>
            <div>Add a new item</div>
          </a>
        </div>
      </div>
      <div class="item-card">
        <div class="card-img">
          <a href="<%= item_path(item) %>" tabindex="-1">
            <img src='https://source.unsplash.com/random/400x400?vase' class="image-card">
          </a>
        </div>
        <div class="card-infos">
          <a href="<%= item_path(item) %>">
            <h5><%= item.name %></h5>
            <div>Category: <%= item.category_name %></div>
            <div>Rent Now <%= item.price_per_day %>$</div>
            <div>Add a new item</div>
          </a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


