<div class="row justify-content-center">
  <div class="col-xl-5">
    <div class="card p-5">
      <div class="mb-1 d-flex justify-content-center">
        <h3>Upload a new item</h3>
      </div>
      <hr>
      <%= simple_form_for @item do |f| %>
        <%= f.input :name %>
        <%= f.input :description, hint: false %>
        <%= f.input :price_per_day %>
        <%= f.input :category_name, collection: ["Choose from list", "Modernism", "Impressionism", "Contemporary", "Photographs", "Sculptures"],
          label: "Select a category", disabled: ["Choose from list"], selected: "Choose from list", include_blank: false %>
        <%= f.input :image, as: :file, label: "Upload a photo of your item" %>
        <div class="d-flex justify-content-center mt-4">
          <%= f.submit class: "primary-btn full-width-btn" %>
        </div>
        <div class="d-flex justify-content-center mt-2">
          <%= link_to "Back", items_path, class: "secondary-btn full-width-btn"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
